.react-chatbot-kit-chat-container {
	border: 1px solid #ccc;

	& * {
		font-size: 1.6rem;
	}

	*::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #fff;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #0664ac;
		background-image: -webkit-linear-gradient(
			45deg,
			rgba(#2898ec, 0.5) 20%,
			transparent 20%,
			transparent 40%,
			rgba(#2898ec, 0.5) 40%,
			rgba(#2898ec, 0.5) 60%,
			transparent 60%,
			transparent 80%,
			rgba(#2898ec, 0.5) 80%
		);
		border-radius: 10px;
	}
}

.react-chatbot-kit-chat-input {
	outline: none;
	border: 1px solid #ccc;

	&:focus {
		border: 1px solid #2898ec;
	}
}

.chatbot-definition {
	margin-top: -10px;

	&__item {
		display: inline-block;
		padding: 5px 10px;
		color: #2898ec;
		border-radius: 20px;
		background-color: #fff;
		border: 1px solid #2898ec;
		transition: all 0.25s ease;
		cursor: pointer;
		margin-top: 10px;
		text-transform: capitalize;
		margin-left: 6px;

		&:hover {
			color: #fff;
			border: 1px solid #fff;
			background-color: #2898ec;
		}
	}
}
