.react-chatbot-kit-chat-container {
	border: 1px solid #ccc;

	& * {
		font-size: 1.6rem;
	}

	*::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #fff;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #0664ac;
		background-image: -webkit-linear-gradient(
			45deg,
			rgba(#2898ec, 0.5) 20%,
			transparent 20%,
			transparent 40%,
			rgba(#2898ec, 0.5) 40%,
			rgba(#2898ec, 0.5) 60%,
			transparent 60%,
			transparent 80%,
			rgba(#2898ec, 0.5) 80%
		);
		border-radius: 10px;
	}
}

.react-chatbot-kit-chat-input {
	outline: none;
	border: 1px solid #ccc;

	&:focus {
		border: 1px solid #2898ec;
	}
}
