.header {
	background-color: $white-color;
	box-shadow: 1px 1px 6px #c5c5c5;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
	}

	&__logo {
		display: flex;
		align-items: center;
		height: 45px;

		&__img {
			width: auto;
			height: 100%;
			object-fit: contain;
			margin-right: 10px;
		}

		&__text {
			font-size: 2rem;
			font-weight: 600;
			font-family: 'Courier New', Courier, monospace;
			color: $main-color;
		}
	}

	&__menu {
		display: flex;
		height: $header-top-height;
		justify-content: space-between;
		align-items: center;
		list-style: none;

		&__item {
			margin: 0 8px;
			font-size: 1.6rem;
			font-weight: 400;
			cursor: pointer;
			position: relative;
			transition: color 0.1s ease-in;
		}

		&__item:hover {
			color: $main-color;
		}

		&__item:hover > &__list.lv1 {
			visibility: visible;
			opacity: 1;
			transform: scale(1);
		}

		&__list {
			position: absolute;
			top: calc(100% + 20px);
			left: -50%;
			width: fit-content;
			border: 1px solid #d3d3d3;
			background-color: $white-color;
			cursor: default;
			transform-origin: top;
			opacity: 0;
			transform: scale(0);
			visibility: hidden;
			transition: transform 0.25s ease-in, opacity 0.25s ease-in,
				visibility 0.25s ease-in;
			list-style-type: none;
			z-index: 99;

			&.lv1::after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: -20px;
				width: 100%;
				height: 20px;
				background: transparent;
			}

			&__item {
				margin: 10px 0px;
				padding: 0 20px;
				cursor: pointer;
				position: relative;
				color: $black-color;
				transition: color 0.1s ease-in;
				white-space: nowrap;

				&:hover {
					color: $main-color;
				}
			}
		}

		&__list__item.lv1:hover > &__list.lv2 {
			visibility: visible;
			opacity: 1;
			transform: scale(1);
		}

		&__list.lv2 {
			left: 100%;
			top: 0%;
			transform-origin: left;
			opacity: 0;
			visibility: hidden;
			transform: scale(0);
			transition: transform 0.25s ease-in, opacity 0.25s ease-in,
				visibility 0.25s ease-in;
		}
	}

	&__search {
		width: 400px;
		border: 1px solid #cccccc;
		font-size: 1.6rem;
		display: flex;

		&__box {
			display: inline-flex;
			flex-wrap: nowrap;
			position: relative;
			border-right: 1px solid #ccc;
			flex: 1;

			&__input {
				outline: none;
				border: none;
				padding: 10px;
				flex: 1;
				padding-left: 10px;

				&::-webkit-search-cancel-button {
					display: none;
				}
			}

			&__suggestion {
				display: none;
				position: absolute;
				top: 100%;
				width: 100%;
				max-height: 200px;
				overflow-y: auto;
				background-color: $white-color;
				color: $black-color;
				z-index: 99;
				border: 1px solid #ccc;
				border-top: none;

				&.active {
					display: block;
				}

				&__list {
					list-style: none;

					&__item {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 10px;
						cursor: pointer;

						&:first-child {
							border-top: 1px solid #ccc;
						}

						&:hover {
							background-color: #ccc;
						}

						&.disabled {
							cursor: default;
							background-color: #fff;
						}

						&__wrapper {
							width: 100%;
							height: 100%;
							overflow: hidden;
						}

						&__title,
						&__content {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						&__title {
							font-size: 1.6rem;
							font-weight: 600;
							text-transform: capitalize;
						}

						&__icon {
							font-size: 1.4rem;
							color: rgba($color: $main-color, $alpha: 0.7);
						}
					}
				}
			}
		}

		&__btn {
			padding: 0 10px;
			background-color: $white-color;
			outline: none;
			border: none;
			color: rgba($color: #000000, $alpha: 0.8);
			cursor: pointer;
		}
	}
}
