.menu {
	width: 300px;
	flex-shrink: 0;

	&__logo {
		img {
			display: block;
			width: 100%;
			height: 100%;
			max-height: 1000px;
		}
	}

	&__list {
		background-color: #eee;
		list-style-type: none;

		&__item {
			&__heading {
				background-color: $main-color;
				color: $white-color;
				padding: 10px 10px 10px 20px;
				font-size: 1.8rem;
				text-transform: capitalize;
				font-weight: 400;
			}

			&__content {
				display: flex;
				padding: 4px 10px 4px;
				user-select: none;

				&.active {
					background-color: #d6d6d6;
				}

				&__dot {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 10px 0;
				}
			}
		}
	}
}
