.post-detail {
	display: flex;

	&__menu {
		flex-shrink: 0;
		margin-right: 20px;
	}

	&__content {
		flex-grow: 1;
		padding: 20px;
		background-color: $white-color;

		&__text {
			line-height: 1.4;
			font-size: 1.7rem;
		}

		&__header {
			&__path {
				a {
					color: $main-color;
				}
			}
			&__title {
				text-transform: capitalize;
				font-size: 2rem;
				font-weight: 600;
				text-align: center;
				color: $main-color;
			}
			&__info {
				display: flex;
				justify-content: space-between;
				font-size: 1.4rem;

				&__date {
				}
				&__view {
					&__icon {
						margin-right: 5px;
					}
				}
			}
		}

		&-not-found {
			display: flex;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			font-size: 2rem;

			& > * ~ * {
				margin-left: 10px;
			}
		}

		&-loading {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
