.search {
	&__filter {
		height: 36px;
		font-size: 1.6rem;

		& > * ~ * {
			margin-left: 20px;
		}

		&__input {
			outline: none;
			border: 1px solid #ccc;
			width: 300px;
			padding: 4px 8px;
			height: 100%;
		}

		&__select {
			outline: none;
			border: 1px solid #ccc;
			padding: 6px 8px;
			height: 100%;
		}

		&__btn {
			outline: none;
			border: 1px solid #ccc;
			padding: 6px 10px;
			background-color: $main-color;
			color: $white-color;
			height: 100%;
		}
	}
}
