* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Lora', sans-serif;
	font-size: 1.6rem;
	background-color: #eee;
}

a {
	text-decoration: none;
	color: unset;
}

img {
	max-width: 100%;
}

ul,
ol {
	list-style-position: inside;
}

.grid {
	display: grid;
}

.container {
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 6px;
}

*::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #fff;
}

*::-webkit-scrollbar-thumb {
	background-color: #e78632;
	background-image: -webkit-linear-gradient(
		45deg,
		rgba(255, 255, 255, 0.3) 20%,
		transparent 20%,
		transparent 40%,
		rgba(255, 255, 255, 0.3) 40%,
		rgba(255, 255, 255, 0.3) 60%,
		transparent 60%,
		transparent 80%,
		rgba(255, 255, 255, 0.3) 80%
	);
	border-radius: 10px;
}
